@views.html.main("Inicial"){

 <div id="container" ></div>

<br>
<div class="col-sm-3">
    <div class="panel panel-default fixo">
        <div class="panel-heading" align="center">Balanceamento atual</div>
        <div class="panel-body">Dinheiro <b class="pull-right">R$</b></div>
        <div class="panel-body">Conta Corrente <b class="pull-right">R$</b></div>
        <div class="panel-body"><b>Total</b> <b class="pull-right">R$</b></div>
    </div>
</div>
<div class="col-sm-3">
    <div class="panel panel-default fixo">
        <div class="panel-heading" align="center">Movimentos recentes</div>
    </div>
</div>
<div class="col-sm-3">
    <div class="panel panel-default fixo">
        <div class="panel-heading" align="center">Maiores gastos (por categoria)</div>
    </div>
</div>
<div class="col-sm-3">
    <div class="panel panel-default fixo">
        <div class="panel-heading" align="center">Maiores ganhos (por categoria)</div>
    </div>
</div>
} {
    <script src="@routes.Assets.versioned("javascripts/pageScript/inicial.js")" type="text/javascript"></script>

}
